.sidebar {
  position: fixed;
  font-family: Inter;
  width: 280px;
  height: 100vh;
  padding: 0 12px;
  border-right: 1px solid #e5e9eb;
  background-color: #fff;
}
.active:is(:link, :active, :visited).active {
  background-color: #8c8bdd;
  color: #fff;
}
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0;
  justify-content: space-between;
  border-right: 1px solid #e5e9eb;
  margin-left: 1px;
}
.wraperSiadbar {
  display: flex;
}
.btnClose {
  display: flex;
  justify-content: center;
}
.userPath {
  margin-left: -14px;
  width: 55px;
  padding: 8px 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  color: $dark-grey;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  transition: transform 2s;
  gap: 5px;
}

.wrapper::after {
  position: absolute;
  left: -12px;
  bottom: 0;
  height: 1px;
  width: 280px;
  background-color: #e5e9eb;
  content: '';
}

.logo {
  color: #403ef5;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
}

.closeBtn {
  color: #0067f4;
  padding: 6px;
  border: 1px solid #e5e9eb;
  border-radius: 4px;
}

.leftArrow span {
  position: absolute;
  left: 12px;
  top: 10px;
  width: 8px;
  height: 2px;
}

.leftArrow span:first-child {
  transform: rotate(45deg);
}

.leftArrow span:nth-child(2) {
  transform: rotate(-45deg);
}

.navList {
  @include reset-list;
  border-right: 1px solid #e5e9eb;
  height: 100%;
  position: fixed;
  left: 0;
  width: 55px;
}

// .navItem:first-child {
//   margin-top: 12px;
// }

.navItem:not(:last-child) {
  margin-bottom: 12px;
}

.navItem {
  color: black; /* Цвет ссылок по умолчанию */
  text-decoration: none;
  // background-color: red;
  // border: 1px solid #3e4040;
}

.navLink {
  margin-top: 20px;
  width: 55px;
  padding: 8px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: $dark-grey;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  transition: transform 2s;
  gap: 5px;
}

.navText {
  color: #3e4040;
  margin-left: 12px;
}

.navLink {
  // padding: 10px 15px;
  text-decoration: none;
}
.navbar {
  padding: 0px;
  margin: 0px;
}
