// colors
$link-blue: #0067F4;
$white: #FFF;
$light-blue: #499EFC;
$required: #F76659;
$black-white-white: #F5F3F3;
$dark-grey:#1A2024;
$icon-color: #6E8BB7B2;
$grey:#6E8BB7;
$step-grey: #535353;
$step-background: #F4F4F4;
$dark-blue:#001A49;

